@media screen and (max-width: 880px) {
    .hero {
        padding: 43px 33px 32px;
    }

    .hero-avatar > img {
        width: 108px;
        height: 108px;
        margin-bottom: 20px;
    }

    .hero-name {
        font-size: 24px;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .features {
        padding: 64px 33px 92px;
    }

    .features-block {
        margin: 60px 0 0;
        grid-template-columns: 1fr;
    }


    .projects {
        padding: 47px 33px 60px;
    }
    .slider {
        margin-top: 49px;
    }
    .slider-content {
        flex-direction: column;
    }
    .slider-img > img {
        width: 100%;
    }
    .slider-text {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .cost-time {
        flex-direction: column;
    }

    .contacts {
        padding: 57px 33px;
    }
    .contacts-block {
        flex-direction: column;
    }
    .contacts-form {
        padding: 40px 18px 48px;
        width: 100%;
    }
    .contacts-data {
        width: 100%;
        margin-left: 0;
    }
    .phone-email {
        flex-direction: column;
    }
    .contact-links {
        flex-direction: column;
    }
}