@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #20202D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding: 50px 168px 155px;
}

.hero-header {
    margin-bottom: 100px;
    display: flex;
 
    justify-content: space-between;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.hero-name {
    color: #fff;
    font-size: 50px;
    margin: 20px 0 14px;
}

.hero-avatar > img {
    border-radius: 50%;
    border: 10px solid white;
}
.social-links > img {
    margin-right: 20px;
}


.features {
    padding: 64px 168px 92px;
    background-color: #000;
}

.features-block {
    margin: 84px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.features-block > .block > .block-text {
    line-height: 28px;
}


.projects {
    padding: 135px 168px 108px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.slider {
    margin-top: 84px;
}

.slider-content {
    display: flex;
}

.slider-text {
    margin-left: 64px;
}

.slider-img > img {
    border-radius: 6px;
}

.cost-time {
    display: flex;
    margin-bottom: 44px;
}

.time {
    margin-right: 64px;
}

.time, .cost, .feedback {
    display: flex;
    align-items: center;
}

.feedback {
    align-items: flex-start;
}

.time-text, .cost-text, .feedback-text {
    display: flex;
    flex-direction: column;
}

.slider-dots {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid #FFBB01;
    border-radius: 50%;
    margin: 0 5px;
}


.contacts {
    padding: 57px 168px;
}

.contacts-block {
    display: flex;
}

.contacts-form {
    background-color: #fff;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    padding: 40px 48px 48px;
    width: 380px;
    box-sizing: border-box;
}

.input-user, .input-phone {
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    padding: 18px 18px 18px 50px;
    width: 100%;
    margin: 8px 0;
}

label {
    position: relative;
}

label::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 20px;
    top: 0;
}

.input-user-label::before {
    background: url('./img/user-icon.svg');
}

.input-phone-label::before {
    background: url('./img/phone-icon.svg');
}

.contacts-data {
    width: 348px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.phone-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.contact-links {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    margin-bottom: 74px;
}

.social-icons > img {
    margin-right: 20px;
}

.eula {
    font-size: 15px;
    text-decoration-line: underline;
    color: #A5A5A5;
}

.button {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}